.appLogo{
    max-width: 300px;
}


.defaultContainer{
    background: var(--bg-initial);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-secondary);
}

.link  {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.link:hover  {
  text-decoration: underline;
  color: #c5bebe;
}


.buttonAction{
  background-color: rgb(36, 26, 185);
  color: var(--text-secondary);
  padding: 10px;
  width: 200px;
  max-width: 300px;
  border-radius: 10px;
}

.buttonAction:hover{
  background-color: rgb(25, 17, 136);
  color: var(--text-secondary);
  padding: 10px;
  width: 200px;
  max-width: 300px;
  border-radius: 10px;
}