@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.cadastroContainer {
  min-height: 100vh;
  background: var(--bg-initial);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* .cadastroBox {
  width: 100%;
  max-width: 450px; 
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(10px); 
  padding: 40px;
  border-radius: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
} */

.logo {
  width: 180px;
  margin-bottom: 10px;
}

.titulo {
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.cadastroform {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.8);
}

.input, .inputSenha, .selectTipo {
  height: 55px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid transparent;
  margin-bottom: 20px;
  padding: 0 16px;
  font-size: 16px;
  background: #fff;
  transition: all 0.3s ease;
  outline: none;
}


.input:focus, .inputSenha:focus, .selectTipo:focus {
  border-color: #6a82fb;
  box-shadow: 0 0 0 4px rgba(106, 130, 251, 0.2);
}

.btnCadastrar {
  width: 100%;
  height: 55px;
  border-radius: 12px;
  background: #2b1fa8;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.2s, background 0.3s;
}

.btnCadastrar:hover {
  background: #1e1575;
  transform: translateY(-2px);
}

.divisorLogin {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin: 25px 0 15px;
  position: relative;
  width: 100%;
  text-align: center;
}

.social_area {
  display: flex;
  gap: 30px;
}

.socialBtn {
  background: #fff;
  border: none;
  width: 80px;
  height: 35px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.socialBtn:hover {
  transform: scale(1.1);
}

.socialBtn img {
  height: 180px;
  width: 200px;
}

@media(min-width:800px){
  .cadastroBox {
  width: 100%;
  max-width: 450px; 
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(10px); 
  padding: 40px;
  border-radius: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
}

@media(max-width:800px){
  .cadastroBox {
  width: 100%;
  padding: 15px;
  border-radius: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}