.appLogo{
    max-width: 300px;
}


.defaultContainer{
    background: var(--bg-initial);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-light);
}

.link  {
  color: var(--text-light);
  font-weight: 600;
  font-size: 14px;
}

.link:hover  {
  text-decoration: underline;
  color: var(--text-light-muted);
}


.buttonAction{
  background-color: var(--text-light);
  color: var(--text-secondary);
  padding: 10px;
  width: 200px;
  max-width: 300px;
  border-radius: 10px;
}

.buttonAction:hover{
  background-color: var(--text-interact);
  color: var(--text-light);
  padding: 10px;
  width: 200px;
  max-width: 300px;
  border-radius: 10px;
}