.app-logo{
    max-width: 300px;
}


.default-container{
    background: var(--bg-initial);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-secondary);
}