* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.test {
  color: red !important;
  font-size: 40px;
}

.loginContainer {
  min-height: 100vh;
  background: var(--bg-initial);
 /* background-size: 400% 400%;
   animation: gradientShift 12s ease infinite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.loginBox {
  width: 100vw;
  min-width: 360px;
  padding: 32px 24px;
  color: #fff;
  text-align: center;
  display: flex;
    flex-direction: column;
  align-items: center;
}

.title {
  font-size: 36px;
  margin-bottom: 50px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 0px;
}


.social_area {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 26px;
}

.socialBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


.socialBtn img {
  height: 80px;   
  width: auto;
  transform: scale(1.9);
}

/* INPUTS */
.loginBox input {
  width: 100%;
  max-width: 400px;
  height: 48px;
  border-radius: 14px;
  border: none;
  padding: 0 14px;
  margin-bottom: 12px;
  background: #ffffff;
  color: #000000;
}

.loginBox input::placeholder {
  color: #777;
}

/* ESQUECI */
.forgot {
  display: block;
  /* align-self: flex-end; */
  text-align: right;
  font-size: 12px;
  color: #fff;
  margin: 8px 0 20px;
  text-decoration: none;
}

/* BOTÃO LOGIN */
.btnLogin {
  min-width: 390px;
  max-width: 390px;
  height: 48px;   /* REFERÊNCIA DE TAMANHO */
  border-radius: 14px;
  border: none;
  background: #2b1fa8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
  text-align: center;
  display: flex;
  align-items: center;      
  justify-content: center; 
  text-decoration: none; 
}

.btnLogin:hover {
  min-width: 390px;
  max-width: 390px;
  height: 48px;   
  border-radius: 14px;
  border: none;
  background: #120d50;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
}

.footerText {
  font-size: 12px;
}

