* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #7b61ff, #4fa3e3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  max-width: 360px;
  padding: 32px 24px;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 26px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 14px;
}


.social-area {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 26px;
}

.social-btn {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
}

.social-btn:focus,
.social-btn:active {
  outline: none;
  box-shadow: none;
}


.social-btn img {
  height: 48px;   
  width: auto;
  transform: scale(1.9);
}

/* INPUTS */
.login-box input {
  width: 100%;
  height: 48px;
  border-radius: 14px;
  border: none;
  padding: 0 14px;
  margin-bottom: 12px;

  background: #ffffff;
  color: #000000;
}

.login-box input::placeholder {
  color: #777;
}

/* ESQUECI */
.forgot {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #fff;
  margin: 8px 0 20px;
  text-decoration: none;
}

/* BOTÃO LOGIN */
.btn-login {
  width: 100%;
  height: 48px;   /* REFERÊNCIA DE TAMANHO */
  border-radius: 14px;
  border: none;
  background: #2b1fa8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
}

.footer-text {
  font-size: 12px;
}








