.perfil{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: rgb(28, 76, 138);
    color: aliceblue;
    border-radius: 50%;
}

.display-perfil{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}