.loginContainer {
  min-height: 100vh;
  background: var(--bg-initial);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  width: 100%;
  max-width: 400px;
  padding: 32px 24px;
  color: var(--text-light);
  text-align: center;
}

.title {
  font-size: 32px;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 24px;
}

.label {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.loginBox input {
  width: 100%;
  height: 52px;
  border-radius: 18px;
  border: none;
  padding: 0 16px;
  margin-bottom: 16px;
}

.btnLogin {
  width: 100%;
  height: 48px;
  border-radius: 14px;
  border: none;
  background: var(--btn-interact);
  color: var(--text-light);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footerText {
  font-size: 12px;
  margin-bottom: 24px;
}

.footerText a {
  color: var(--text-light);
  font-weight: 600;
}

.divider {
  font-size: 13px;
  margin-bottom: 30px; 
}

.socialArea {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px; 
}

.socialBtn {
  flex: 1;
  height: 44px;
  background: none;
  border: none;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.socialBtn img {
  height: 80px;
  width: auto;
  transform: scale(1.9);
}