.loginContainer {
  min-height: 100dvh; /* melhor que 100vh no mobile */
  background: var(--bg-initial);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px; /* evita colar nas bordas no mobile */
}


.loginBox {
  width: 100%;
  max-width: 420px;
  padding: clamp(24px, 5vw, 40px);
  color: var(--text-light);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  font-size: clamp(22px, 6vw, 32px);
  margin-bottom: clamp(16px, 4vh, 32px);
}

.subtitle {
  font-size: clamp(13px, 3.5vw, 14px);
  margin-bottom: 24px;
}

.label {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.loginBox input {
  width: 100%;
  height: 52px;
  border-radius: 16px;
  border: none;
  padding: 0 16px;
  margin-bottom: 16px;
  font-size: 15px;
}

.btnLogin {
  width: 100%;
  height: 48px;
  border-radius: 14px;
  border: none;
  background: var(--btn-interact);
  color: var(--text-light);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.register {
  font-size: 13px;
  margin-bottom: 20px;
  color: aliceblue;
}

.divider {
  font-size: 13px;
  margin: 14px 0;
}

.socialArea {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.socialBtn img {
  height: clamp(34px, 12vw, 20px);
}

.socialBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.return {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.85;
}

.return:hover {
  opacity: 1;
}

.logo {
  width: clamp(120px, 40vw, 180px);
  margin-bottom: clamp(16px, 4vh, 32px);
}


@media (min-width: 800px) {
  .loginBox {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(12px);
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  }
}
