.dashboardContainer {
  max-width: 80vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 80px;
}

.appLogo{
    margin-bottom: 20px;
}

.general{
    background-color: rgb(16, 7, 97);
    color: rgb(251, 253, 255);
    padding: 6px 20px;
    border-radius: 15px;
}

.cardDisplay{
    width: 80vw;
    background-color: rgb(248, 252, 255);
    color: #231a42;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px;
    margin-top: 30px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     width: 100%;
    padding: 14px;
}

.gasName{
    font-size: 22px;
}
.arrows{
    font-size: 30px;
    color: #98add3;
    cursor: pointer;
}

.grafico{
    width: 90%;
    height: 300px;
    background-color: #daecf7;
    border-radius: 15px;
}

.periodoDisplay{
    margin-top: 30px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.periodo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pointer{
    width: 10px;
    height: 10px;
}

.pointer.A{
    background-color: #c48027;
}
.pointer.B{
    background-color: #12405c;
}
.pointer.C{
    background-color: #2ccf47;
}

@media(min-width:800px){
  .appLogo{
        width: 120px;
    }
    .title{
        font-size: 30px;
    } 
}

@media(max-width:800px){
  .appLogo{
        width: 120px;
    }
    .title{
        font-size: 30px;
    } 
    label{
        font-size: 18px;
    }
}
