.title, .subtitle{
color: var(--text-dark-dark);
}

.dashboardContainer {
  max-width: 80vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 80px;
}

.topDisplay{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cardDisplay{
    width: 80vw;
    background-color: var(--bg-display-dark);
    color: var(--text-dark);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px;
    margin-top: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 14px;
}

.nav {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  padding: 6px;
  background-color: var(--bg-display-dark);
  border-radius: 30px;
}

.navItem {
  flex: 1;
  height: 34px;

  border: none;
  background: transparent;
  border-radius: 30px;

  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark-dark);

  cursor: pointer;
  transition: all 0.25s ease;
}

.navItem:hover {
  background-color: rgba(10, 29, 41, 0.123);
}

.active {
  background-color: var(--btn-interact);
  color: var(--text-light);
}
.active:hover {
  background-color: #0c283a;
  color: #daecf7;
}


.gasName{
    font-size: 22px;
}
.arrow{
    /* font-size: 30px;
    color: #98add3; */
    cursor: pointer;
}

.grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 300px;
    background-color: var(--bg-display);
    border-radius: 15px;
}

@media(min-width:800px){
  .appLogo{
        width: 120px;
    }
    .title{
        font-size: 30px;
    } 
}

@media(max-width:800px){
  .appLogo{
        width: 120px;
    }
    .title{
        font-size: 24px;
    } 
    .subtitle{
        font-size: 14px
    }
    label{
        font-size: 18px;
    }
}
