.container {
  min-height: 100vh;
  background: var(--bg-app);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.mainContent {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.gasName {
  font-size: 22px;
  font-weight: bold;
}

.responsiveGrid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
}

.chartCard {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  padding: 25px;
}

.chartMain {
  display: flex;
  height: 180px;
  margin-bottom: 15px;
}

.yAxis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  padding-right: 15px;
  color: var(--text-light);
  text-align: right;
  min-width: 40px;
}

.barsContainer {
  flex: 1;
  height: 100%; 
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.barWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.bar {
  width: 20px;
  border-radius: 10px;
}

.barBlue {
  background: var(--graficBar1);
}

.barGreen {
  background: var(--graficBar2);
}

.barLabel {
  font-size: 12px;
  margin-top: 10px;
}

.chartFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.badgeMensal {
  background: var(--btn-interact);
  border: none;
   color: #fff;
  padding: 5px 15px;
  border-radius: 8px;
}

.periodSection {
  width: 100%;
  max-width: 400px;
}

.periodList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.periodItem {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 3px;
}

.dotDarkBlue { background-color: var(--graficBar1); }
.dotLightGreen { background-color: var(--graficBar2); }
.dotGold { background-color: #b38b2f; }

.bottomNavMobile {
  display: none;
}

@media (max-width: 768px) {
  .mainContent {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .responsiveGrid {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}