.defaultContainer {
  max-width: 80vw;
   min-height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 80px;
}

.appLogo{
    margin-bottom: 20px;
}

.topDisplay{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cardDisplay{
    width: 80vw;
    background-color: var(--bg-display-dark);
    color: var(--text-dark);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px;
    margin-top: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 14px;
}


.gasName{
    font-size: 22px;
}
.arrow{
    /* font-size: 30px;
    color: #98add3; */
    cursor: pointer;
}

.cadastroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 380px;
  padding: 18px 30px;
  background-color: var(--bg-display);
  border-radius: 15px;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

.formGroup label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 4px;
}

.formGroup input {
  width: 100%;
  height: 40px;
  padding: 0 12px;

  border-radius: 10px;
  border: 1px solid var(--text-light-muted);

  font-size: 14px;
  outline: none;
}

.formGroup input:focus {
  border-color: var(--btn-interact);
}

.inputIcon {
  position: relative;
}

.inputIcon input {
  padding-right: 40px;
}

.inputIcon i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--btn-interact);
  pointer-events: none;
}

.btnAdicionar {
  margin-top: 12px;
  width: 60%;
  height: 42px;

  border-radius: 12px;
  border: none;

  background-color: var(--btn-interact);
  color: var(--text-light);

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 0.25s ease;
}

.btnAdicionar:hover {
  background-color: #3b4cc0;
}

@media(min-width:800px){
  .appLogo{
        width: 120px;
    }
    .title{
        font-size: 30px;
    } 
}

@media(max-width:800px){
  .appLogo{
        width: 120px;
    }
    .title{
        font-size: 24px;
    } 
    .subtitle{
        font-size: 14px
    }
    label{
        font-size: 18px;
    }
}
