.title{
  color: var(--text-dark-dark);
}

.gasName{
  color: var(--text-dark-dark);
}

.defaultContainer {
  max-width: 80vw;
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 80px;
}

.topDisplay {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.arrow {
  cursor: pointer;
}

.cardDisplay {
  width: 80vw;
  max-width: 500px;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--bg-display-dark);
  color: var(--text-dark);
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.listDisplay {
  background-color: var(--bg-display);
  min-width: 90%;
  border-radius: 10px;
  padding: 10px;
}

.infoGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--text-light-muted);
}

.cadastroContainer {
  width: 90%;
  padding: 18px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-display);
  border-radius: 15px;
   margin: 0 auto; 
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.formGroup label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-dark);
}

.formGroup input,
.formGroup select {
  height: 40px;
  padding: 0 12px;

  border-radius: 10px;
  border: 1px solid #d9dae6;

  font-size: 14px;
  outline: none;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: #4c5fd5;
}

.btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background-color: var(--btn-interact);
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.containerGas {
  background: #ffffff;
  min-width: 80%;
  padding: 13px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  margin-bottom: 20px;
}

.gasId {
  font-size: 12px;
  color: #777;
}


@media (min-width: 800px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 24px;
  }
}
