.appLogo{
    max-width: 300px;
}

.splashContainer{
    background: var(--bg-initial);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-secondary);
}

.link  {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.link:hover  {
  text-decoration: underline;
  color: #c5bebe;
}