@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


$text-dark: #1f252c;
$text-dark-muted: #2f353d;
$text-light: #FFFFFF;
$text-light-muted:#9ca3af;

$background-initial: #28C0F7, #4DACF9, #5A80FC, #765EFC, #997DFF;
$background-app: #627BE0, #664FEA, #7C5DED;
$background-footer: #2D2899;
$background-header: #2D2899;
$background-sidebar: #3E39BE;

$background-display: #f7f7f7;
$background-display-dark: #d5cff8;

$background-shadow: #D3CAFF;
$background-shadow-bot: #8D78FF;

$button-interact: #291B99;
$button-negative: #992828;

$color-alert: #F9BA01;
$color-danger: #E00030;
$color-great: #13b451;

// Cores para gráfico:
$graphic-color1: #0f285e;
$graphic-color2: #64A886;
// (incluir mais cores para gráfico e ajustar as existentes)...

:root {

  --text-dark: #{$text-dark};
  --text-dark-muted: #{$text-dark-muted};
  --text-light: #{$text-light};
  --text-light-muted: #{$text-light-muted};

  --font-family: "Inter", sans-serif;

  --bg-initial: linear-gradient(45deg, #{$background-initial});
  --bg-app: linear-gradient(45deg, #{$background-app}) ;
  --bg-footer: #{$background-footer};
  --bg-header: #{$background-header};
  --bg-sidebar:  #{$background-sidebar};

  --bg-display: #{$background-display};
  --bg-display-dark: #{$background-display-dark};

  --bg-shadow:  #{$background-shadow};
  --bg-shadow-bot:  #{$background-shadow-bot};

  --btn-interact: #{$button-interact};
  --btn-negative: #{$button-negative};

  --color-alert: #{$color-alert};
  --color-danger: #{$color-danger};
  --color-great: #{$color-great};

  --graficBar1:#{$graphic-color1};
  --graficBar2:#{$graphic-color2};
  }
