main {
  background-color: rgb(222, 232, 236)  ;
  color: rgb(37, 37, 73);
    min-width: 100vw;
    min-height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}