main {
  color: var(--text-light);
  min-width: 100vw;
  min-height: 87vh;
  display: flex !important;
  justify-content: center !important;
  padding-top: 20px !important;
  padding-bottom: 80px !important;
}

.appLogo{
    margin-bottom: 20px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     width: 100%;
    padding: 14px 0;
}

.gasName{
    font-size: 22px;
}

.arrows{
    font-size: 30px;
    color: #98add3;
    cursor: pointer;
}

.homeContainer{
  max-width: 80vw;
}

.card{
  background-color: var(--bg-display);
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
  padding: 0 15px 15px;
  box-shadow: 0 16px 15px rgba(0, 0, 0, 0.438);
  backdrop-filter: blur(5px); 
}

.displayItem{
   display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.displayConsumo{
  background-color: var(--bg-display-dark);
  border-radius: 20px;
}

.titleStatus{
  color: var(--text-dark-dark);
}

.botijao{
  display: flex;
  justify-content: center;
  align-items: center;

}

.botija{
  margin-top: -80px;
    transform: scale(0.5);
     width: calc(300px * 0.6);
  height: calc(450px * 0.6);
}

.displayDetail{
  margin-top: -80px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.botaoDetail{
  background-color: var(--btn-interact);
  color: #fff;
  padding: 8px;
  border-radius: 10px;
   text-decoration: none; 
}

.detalhes{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}


.periodoDisplay{
    margin-top: 30px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.periodo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pointer{
    width: 10px;
    height: 10px;
    background-color: var(--btn-interact);
}

@media(min-width:800px){
  .appLogo{
        width: 120px;
    }

  .homeContainer{
    padding-bottom: 80px;
  }
}

@media(max-width:800px){
  .appLogo{
        width: 120px;
    }

  .homeContainer{
    height: 95vh;
    padding-bottom: 80px;
  }
}

/* Início do CSS Pagina Home ADM */
.displayClientes{
margin-top: 20px;
}

/* Fim do CSS Página ADM */