
header {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 80px !important;
  background-color: rgb(32, 74, 151) !important;
  z-index: 1001 !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
  border-bottom: 4px solid rgb(30, 50, 116) !important; 
}

.display-welcome{
  padding: 10px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.logo{
  padding: 5px 0px;
  max-height: 60px;
}

.display-logo{
  max-width: 40px;
}
.navigation{
  min-width: 400px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

@media (max-width:800px){
  .display-welcome{
    display:none;
  }
}