.sidebarDisplay {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #1d2749;
  z-index: 1010;
  transition: transform 0.3s ease-in-out;
}

.sidebarDisplay.open {
  transform: translateX(0);
}

.sidebarDisplay.closed {
  transform: translateX(100%);
}

.itensDisplay{
    margin-top: 10%;
     display: flex;
    flex-direction: column;
        gap: 20px;
}

.link {
  text-decoration: none;
}

.item{
    width: 100%;
    padding: 10px;
    color: aliceblue;
}

.item:hover{
    width: 100%;
    background-color: rgb(18, 15, 37);
    padding: 10px;
}

/* .toggle{
    background-color: aliceblue;

    width: 30px;
    max-width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.iconArrow{
    border: #1d2749 solid 10px;
    background-color:#1d2749;
    border-radius: 50%;
    width: 55px;
    padding: 0px;
    font-size: 35px;
    position: fixed;
    margin-top: 220px;
    margin-left: -20px;
    cursor: pointer;
}

.iconArrow.closed {
    margin-left: -30px;
  .toggle{
    background-color: #1d2749;
  }
}

@media (min-width:800px){
    /* .item.um{
        display: none;
    } */
}