.sidebarDisplay {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: var(--bg-sidebar);
  z-index: 1010;
  transition: transform 0.3s ease-in-out;
}

.sidebarDisplay.open {
  transform: translateX(0);
}

.sidebarDisplay.closed {
  transform: translateX(100%);
}

.itensDisplay{
    margin-top: 10%;
     display: flex;
    flex-direction: column;
        gap: 20px;
}

.link {
  text-decoration: none;
}

.item{
    width: 100%;
    padding: 10px;
    color: var(--text-light);
    background-color: var(--bg-sidebar);
}

.item:hover{
    width: 100%;
    background-color: rgb(18, 15, 37);
    padding: 10px;
}

@media (min-width:800px){
    /* .item.um{
        display: none;
    } */
}