.sidebar-display{
    display: flex;
    flex-direction: column;
    position: fixed !important;
  right: 0 !important;
  width: 200px !important;
  height: 100% !important;
  background-color: #1d2749 !important;
  z-index: 1010 !important;
}

.itens-display{
    margin-top: 10%;
     display: flex;
    flex-direction: column;
        gap: 20px;
}

.item{
    width: 100%;
    padding: 10px;
}

.item:hover{
    width: 100%;
    background-color: rgb(18, 15, 37);
    padding: 10px;
}