.display-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     gap: 32px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 80px !important;
  background-color: #4161C9 !important;
  z-index: 9999 !important;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1) !important;
}

button{
  background-color: #4161C9;
}