.displayFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
      width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 80px !important;
  background-color: var(--bg-footer);
  z-index: 1000 !important;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1) !important;
}

button{
  color: var(--text-light);
  background-color: var(--bg-footer);
  border: 0;
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  display: flex;
  font-size: 12px;
  margin-top: 8px;
}
