.wrapper {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.display {
  position: relative;
}

.colorRed {
  --main-color: #E00030;
}

.colorYellow {
  --main-color: #F9BA01;
}

.colorGreen {
  --main-color: #16a34a;
}

.body {
  margin-top: 100px;
  width: 300px;
  height: 350px;
  background-color: var(--main-color);
  border-radius: 90px;
}

.top {
  position: absolute;
  width: 180px;
  height: 160px;
  border-radius: 40px;
  background-color: var(--main-color);
  top: 0px;
  margin-left: 60px;
  margin-top: -70px;
}

.bot {
  position: absolute;
  width: 200px;
  height: 120px;
  border-radius: 40px;
  background-color: var(--main-color);
  top: 260px;
  margin-left: 50px;
}

.alca {
  position: absolute;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: #e3e8ee;
  top: -50px;
  margin-left: 100px;
}

.center {
  position: absolute;
  width: 220px;
  height: 200px;
  border-radius: 80px 20px 60px 60px;
  background-color: rgb(36, 34, 34);
  top: 100px;
  margin-left: 40px;
}

.pin {
  position: absolute;
  top: -60px;
  margin-left: 60px;
}

.pinHor {
  position: absolute;
  width: 60px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  top: 20px;
  margin-left: 60px;
}

.pinVert {
  position: absolute;
  width: 30px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--main-color);
  top: 20px;
  margin-left: 75px;
}

.percent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: var(--main-color);
  position: absolute;
  top: 140px;
  margin-left: 50px;
}
