.defaultLayout {
    margin: 0 auto;
    width: 100%;
}

/* .header{
    display: none;
} */

@media (min-width:800px){
    .displayPrincipal{
    height: 100vh;
    top: 0 !important;
    margin-top: 80px;
    background-color: rgb(196, 230, 236);
}
    .sidebar{
        display: none;
    }
    .footer{
        display: none;
    }
}
@media (max-width:800px){
    .displayPrincipal{
        height: 100vh;
        top: 0 !important;
        background-color: rgb(196, 230, 236);
    }
    .header{
        display: none;
    }
    .sidebar{
        /* display: none; */
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0 !important;
        height: 100vh;
        z-index: 1010;
    }
}