.default-layout {
    
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
  
}

@media (min-width:800px){
    .sidebar{
        display: none;
    }
    .footer{
        display: none;
    }
}