.default-layout {
    margin: 0 auto;
    width: 100%;
  
}
.display-principal{
    top: 0 !important;
    margin-top: 80px;
}
/* .header{
    display: none;
} */

@media (min-width:800px){
    .sidebar{
        display: none;
    }
    .footer{
        display: none;
    }
}
@media (max-width:800px){
    /* .header{
        display: none;
    } */
    .sidebar{
        /* display: none; */
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0 !important;
        height: 100vh;
        z-index: 1010;
    }
}